/*REPSA Style GuideLine */

@font-face {
    font-family: 'AlegreyaSans-Black';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-Black'), url('../fonts/AlegreyaSans-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-Bold'), url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-ExtraBold'), url('../fonts/AlegreyaSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-BlackItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-BlackItalic'), url('../fonts/AlegreyaSans-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-Medium'), url('../fonts/AlegreyaSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-ExtraBoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-ExtraBoldItalic'), url('../fonts/AlegreyaSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('AlegreyaSans-Regular'), url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Black'), url('../fonts/Montserrat-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-BlackItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-BlackItalic'), url('../fonts/Montserrat-BlackItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-BoldItalic'), url('../fonts/Montserrat-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.otf') format('opentype');
}

:root{-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
}

body, html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

.header{
line-height: 1.5;
color: #212529;
text-align: left;
font-family: "Montserrat-Bold", sans-serif;
font-weight: normal;
font-style: normal;
font-size: 16px;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
padding: 0px 30px;
}

.logo{
    width: 322px;
    height: 204px;
    left: 38px;
    top: 13px;
}

.navigation{

}


/*@media only screen and (max-width: 1199px) and (min-width: 992px){
.header{
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
.header{
    padding: 15px 50px;
 }
}

@media (max-width: 575px){
.header{
    padding: 15px 0px;
 }
}*/


.hero-img{
    max-width: 100%;
    max-height: 100%;
}
